#curriculo #header {
    height: 100vh;
    width:100vw;
    overflow: hidden;
    display: flex;
}

#curriculo #header .left {
    width: 50%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px;
    overflow:hidden;
}

#curriculo #header .left h1 {
    margin-bottom: 30px;
}

#curriculo #header .right {
    width: 50%;
    padding: 50px;
}

#curriculo .experience {
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#curriculo .experience .top {
    padding: 50px;
    padding-bottom: 0;
}

#curriculo .experience .bottom {
    display: flex;
    padding: 50px;
}

#curriculo .experience .bottom .left {
    padding-right: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#curriculo .experience .bottom h2 {
    margin-bottom: 10px;
}

#curriculo .experience .bottom p + p {
    margin-top: 25px;
}

#curriculo .experience .bottom .left p + h2 {
    margin-top: 75px;
}

#curriculo .experience .bottom .right {
    padding-right: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#curriculo .stacks {   
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#curriculo .stacks .top {
    padding: 50px;
    padding-bottom: 0;
}

#curriculo .stacks #stacks-list {
    height: 100%;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 5px;
    overflow:hidden;
}

#curriculo .stacks .bottom .stack {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

#curriculo .stacks .bottom .stack img {
    width: 50px;
    margin-right: 10px;
    transition: transform 400ms;
}

#curriculo .stacks .bottom .stack img:hover {
    transform: rotate(360deg);
}

#curriculo .courses {
    
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#curriculo .courses .top {
    padding: 50px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#curriculo .courses .top p {
    font-size: 22px;
    color: var(--white);
}

#curriculo .courses .bottom {
    
    height: 100%;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    overflow:hidden;
}

#curriculo .courses .bottom .card {
    width: 100%;
    height: 300px;
    display: flex;
    background: var(--white);
}

#curriculo .courses .bottom .card a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
    width: 100%;
    max-width: 100%;
    border: 2px solid;
    border-color: var(--black);
    text-align: right;
    transition: 400ms;
}

#curriculo .courses .bottom .card a:hover {
    background: none;
    border-color: var(--red);
    color: var(--red);
}

#curriculo .courses .bottom .card a span {
    margin-left: auto;
    overflow: hidden;
}

#curriculo .courses .bottom .card a span i {
    font-size: 20px;
    padding-right: 2px;
}

#curriculo .courses .bottom .card a span h2,
#curriculo .courses .bottom .card a span p {
    color: var(--black);
    transition: 400ms;
}

#curriculo .courses .bottom .card a i {
    background: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 48px;
    margin-bottom: auto;
    margin-right: auto;
    transition: 400ms;
    border-radius: 0px;
}

#curriculo .courses .bottom .card a:hover i,
#curriculo .courses .bottom .card a:hover span h2,
#curriculo .courses .bottom .card a:hover span p {
    background: none;
    color: var(--red);
}

#curriculo .courses .bottom .card a:hover i {
    transform: rotate(360deg);
}