#index #header {
    height: 100vh;
    width:100vw;
    overflow: hidden;
    background: url("../img/headerbg.jpg");
    background-size: cover;
    background-position: right top;
}

#index #header .content {
    width: 400px;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px;
    overflow:hidden;
}

#index #header .content img {
    width: 200px;
    margin-bottom: 30px;
}

#index #header .content h1 {
    margin-bottom: 30px;
}

#index .indexcontent {
    display: flex;
    flex-direction: column;
}

#index .indexcontent .top {
    height: 50vh;
    width:100vw;
    display: flex;
    margin-bottom: 50px;
}

#index .indexcontent .top .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}

#index .indexcontent .top .right {
    width: 50%;
    display: flex;
    background: var(--red);
}

#index .indexcontent .top .right img {
    object-fit: cover;
    width: 100%;
    transition: filter 400ms;
}

#index .indexcontent .bottom {
    height: 50vh;
    width:100vw;
    display: flex;
    margin-bottom: 50px;
}

#index .indexcontent .bottom .left {
    width: 50%;
    display: flex;
    background: var(--red);
}

#index .indexcontent .bottom .left img {
    object-fit: cover;
    width: 100%;
    transition: filter 400ms;
}

#index .indexcontent .bottom .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    text-align: right;
}

#index #contatos {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#index #contatos .left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px;
}

#index #contatos .left h1 {
    margin-bottom: 30px;
}

#index #contatos .right{
    width: 50%;
    height: 100%;
    display: flex;
    background: url("../img/index_e.jpg");
    background-size: cover;
    background-position: top left;
}

i.ico-medium {
    height: max-content;
    line-height: 1;
    letter-spacing: normal;
    padding: auto;
}

i.ico-medium img {
    height: 24px;
    filter: brightness(0);
}

a:hover i.ico-medium img {
    filter: brightness(10)
}