
#floating-button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: var(--white);
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0px 2px 5px #000;
    overflow: hidden;
    display: flex;
}

#floating-button i {
    margin: auto;
    font-size: 24px;
}

#container-floating{
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 30px;
    right: 30px;
    z-index: 50px;
}

#container-floating:hover, #container-floating.hover_effect {
    height: 400px;
    width: 90px;
    padding: 30px;
}

.hover {
    -webkit-user-select: none;
    -webkit-touch-callout: none;        
    }

.nds{
    background: var(--white);
    box-shadow: 0px 2px 5px #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    z-index: 300;
    transform:  scale(0);
    cursor: pointer;
    display: flex;
}

.nds i {
    margin: auto;
    font-size: 24px;
}

.nd1{
    right: 40px;
    bottom: 120px;
    animation-delay: 0.2s;
    animation: bounce-out-nds 0.3s linear;
    animation-fill-mode:  forwards;
}

.nd3{
    right: 40px;
    bottom: 180px;
    animation-delay: 0.15s;
    animation: bounce-out-nds 0.15s linear;
    animation-fill-mode:  forwards;
}

.nd4{
    right: 40px;
    bottom: 240px;
    animation-delay: 0.1s;
    animation: bounce-out-nds 0.1s linear;
    animation-fill-mode:  forwards;
}

.nd5{
    right: 40px;
    bottom: 300px;
    animation-delay: 0.1s;
    animation: bounce-out-nds 0.1s linear;
    animation-fill-mode:  forwards;
}

.linktxt{
    background: #ff4b4bee;
    right: 100px;
    color: var(--white);
    border-radius: 0 25px 25px 0;
    font-weight: 600;
    padding: 10px;
    height: 40px;
    width: 120px;
    font-size: 14px;
    position: fixed;
    z-index: 300;
    transform:  scale(0);
    display: flex;
}

.txt1{
    bottom: 120px;
    animation-delay: 0.2s;
    animation: bounce-out-nds 0.3s linear;
    animation-fill-mode:  forwards;
}

.txt3{
    bottom: 180px;
    animation-delay: 0.15s;
    animation: bounce-out-nds 0.15s linear;
    animation-fill-mode:  forwards;
}

.txt4{
    bottom: 240px;
    animation-delay: 0.1s;
    animation: bounce-out-nds 0.1s linear;
    animation-fill-mode:  forwards;
}

.txt5{
    bottom: 300px;
    animation-delay: 0.1s;
    animation: bounce-out-nds 0.1s linear;
    animation-fill-mode:  forwards;
}

@keyframes bounce-nds{
    from {opacity: 0;}
    to {opacity: 1; transform: scale(1);}
}

@keyframes bounce-out-nds{
    from {opacity: 1; transform: scale(1);}
    to {opacity: 0; transform: scale(0);}
}

#container-floating:hover .nds,
#container-floating:hover .linktxt {
animation: bounce-nds 0.1s linear;
animation-fill-mode:  forwards;
}

#container-floating:hover .nd1,
#container-floating:hover .txt1{
    animation-delay: 0.05s;
}

#container-floating:hover .nd3,
#container-floating:hover .txt3{
    animation-delay: 0.1s;
}

#container-floating:hover .nd4,
#container-floating:hover .txt4{
    animation-delay: 0.15s;
}

#container-floating:hover .nd5,
#container-floating:hover .txt5{
    animation-delay: 0.2s;
}

