@media (max-width: 800px) {
    h1 {
        font-size: 30px;
        overflow: hidden;
    }
    
    h2 {
        font-size: 22px;
    }
    
    h1 .tab {
        padding-left: 38px;
    }
    
    p, a {
        font-size: 14px;
        overflow: hidden;
    }

    a + a {
        margin-top: 2px;
    }

    a i {
        font-size: 16px;
    }
    
    #index #header {
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: right top;
        min-height: -webkit-fill-available;
    }

    #index #header .content img {
        width: 150px;
        margin-bottom: 30px;
    }

    #index .indexcontent .top {
        height: 600px;
        flex-direction: column;
    }

    #index .indexcontent .top .left {
        width: auto;
        height: 300px;
    }

    #index .indexcontent .top .right {
        width: auto;
        height: 300px;
        padding-top: 5px;
    }

    #index .indexcontent .bottom {
        height: 600px;
        flex-direction: column-reverse;
    }

    #index .indexcontent .bottom .left {
        width: auto;
        height: 300px;
        padding-top: 5px;
    }

    #index .indexcontent .bottom .left img {
        object-fit: cover;
    }

    #index .indexcontent .bottom .right {
        width: auto;
        height: 400px;
    }

    #index #contatos {
        flex-direction: column;
        min-height: -webkit-fill-available;
    }
    
    #index #contatos .left{
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px 50px;
    }
    
    #index #contatos .left h1 {
        margin-bottom: 30px;
    }
    
    #index #contatos .right{
        width: 100%;
        height: 50vh;
        background-position: center;
    }

    i.ico-medium img {
        height: 16px;
    }

    #curriculo #header,
    #portfolio #header {
        flex-direction: column-reverse;
    }

    #curriculo #header .left,
    #curriculo #header .right,
    #portfolio #header .left,
    #portfolio #header .right {
        width: 100%;
    }

    #curriculo .experience .bottom {
        flex-direction: column;
    }

    #curriculo .experience .bottom .left {
        padding-right: 0;
        width: 100%
    }

    #curriculo .experience .bottom .right {
        padding-right: 0;
        margin-top: 75px;
        width: 100%
    }

    #curriculo .stacks #stacks-list .stack {
        flex-direction: column;
    }

    #curriculo .stacks #stacks-list .stack img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #curriculo .stacks #stacks-list {
        grid-template-columns: 1fr 1fr;
    }

    #curriculo .courses .top {
        flex-direction: column;
        align-items: flex-start;
    }

    #curriculo .courses .top p {
        margin-top: 10px;
    }

    #curriculo .courses .bottom {
        grid-template-columns: 1fr;
        gap: 25px;
        overflow:hidden;
    }

    #curriculo .courses .bottom .card a span i {
        font-size: 16px;
    }
    .portfoliosection .portfoliocontent {
        grid-template-columns: 1fr;
    }
    .portfoliosection .portfoliocontent .description {
        padding: 25px;
        text-align: center;
        align-items: center;
    }
    .portfoliosection .portfoliocontent .image {
        height: 280px;
    }
    .portfoliosection .portfoliocontent img {
        height: 275px;
    }
}

@media (min-width: 1500px) {
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 30px;
    }
    
    h1 .tab {
        padding-left: 46px;
    }
    
    p, a {
        font-size: 22px;
    }

    #index #header .content img {
        width: 150px;
        margin-bottom: 30px;
    }
}