

#portfolio #header {
    height: 100vh;
    width:100vw;
    display: flex;
}

#portfolio #header .left {
    width: 50%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px;
}

#portfolio #header .left h1 {
    margin-bottom: 30px;
}

#portfolio #header .right {
    width: 50%;
    padding: 50px;
}

.portfoliosection .topbanner {
    display: flex;
    margin: 100px 50px;
}

.portfoliosection .topbanner select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 50px;
    background: var(--black);
    border: 2px solid;
    border-color: var(--red);
    color: var(--white);
    font-size: 14px;
    padding: 0 30px;
    margin-left: auto;
}

.portfoliosection .topbanner select option,
.portfoliosection .topbanner select optgroup {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--black);
}

.portfoliosection .topbanner select optgroup {
    background: var(--grey);
    color: var(--black);
}


.portfoliosection .portfoliocontent {
    display: grid;
    margin: 30px 0;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.portfoliosection .portfoliocontent .image {
    background: var(--red);
    height: 305px;

}

.portfoliosection .portfoliocontent img {
    object-fit: cover;
    height: 300px;
    width: 100%;
    transition: filter 400ms;
}

.portfoliosection .portfoliocontent .description {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}

.portfoliosection .portfoliocontent .description h1,
.portfoliosection .portfoliocontent .description h2 {
    margin-bottom: 15px;
}

.portfoliosection .portfoliocontent .description a {
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 14px;
    margin-left: 0;
    width: max-content;
    border-radius: 25px;
}