:root {
    --black: #000;
    --red: #ff4b4b;
    --white: #f0f0f0;
    --grey: #cccccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

*::selection {
    background: var(--red);
    color: var(--black);
}

body {
    background: var(--black);
}

h1, h2, h3 {
    font-family: 'Roboto Mono', monospace;
    color: var(--white);
    font-weight: 500;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 26px;
}

h1 .tab {
    padding-left: 42px;
}

p, a {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 300;
}

p, a {
    color: var(--grey)
}

b {
    font-weight: 600;
}

.red {
    color: var(--red);
}

a {
    text-decoration: none;
    font-weight: 600;
    background: var(--white);
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 400ms;
    width: 300px;
    max-width: 90%;
}

a + a {
    margin-top: 20px;
}

a i {
    border-radius: 25px;
    padding: 10px;
    font-size: 24px;
    transition: background 400ms;
}

a:hover {
    background: var(--red);
    color: var(--white);
}

a:hover i {
    color: var(--white);
    background: var(--black);
}

a.leftlink {
    border-radius: 0 25px 25px 0;
    margin-left: -50px;
    padding-left: 50px;
    flex-direction: row-reverse;
}

a.rightlink {
    border-radius: 25px 0 0 25px;
    margin-right: -50px;
    padding-right: 50px;
    margin-left: auto;
}

.invisivel {
    opacity: 0;
}

.visivel {
    opacity: 1;
    transition: 1000ms;
}